<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>
  <body style="font-size:20px; padding:50px;">
    <h3>Create Account</h3>
    <form class="form-inline" action="/register" method="POST">
      <div class="form-group mb-2">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email"
        style="width: 300px">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password"
          style="width: 300px">
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Register</button>
      </div>
    </form>
  </body>
</html>
