<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <table>
      <th>
        Full URL
      </th>
      <th>
        Shortened URL
      </th>
    <% for(var key in urls){ %>
      <tr>
        <td>
      <%= urls[key] %>
        </td>
        <td>
      <a href='#'> <%= key %> </a>
      </td>
      <% } %>
      </table>
</body>
</html>

