<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <h4>
    TinyURL for <%= longURL %>
    </h4>
    <%= shortURL %>
</body>
</html>

